.tera-input {
	display: flex;
	& > label {
			background-color: none;
			color: var(--text-color-secondary);
			cursor: text;
			padding-right: var(--gap-1-5);
			font-size: var(--font-caption);
			align-self: center;
			text-wrap: nowrap;
	};
	& > main {
		display: flex;
		flex: 1 1 0;
		justify-content: space-between;
		align-items: center;
		padding: var(--gap-1) var(--gap-2);
		background-color: var(--surface-section);
		border: 1px solid var(--surface-border);
		border-radius: var(--border-radius);
		cursor: text;
		transition: border-color 0.3s ease-in-out;
		font-family: var(--font-family);
		&:has(*:disabled) {
			opacity: 0.5;
		}
		&:has(*:focus) {
			border-color: var(--primary-color);
		}
		&.error {
			border-color: var(--error-border-color);
		}
		& > i {
			margin-right: var(--gap-1);
		}
		& > input {
			min-width: 0;
			font-family: var(--font-family);
			font-feature-settings: 'tnum';
			flex-grow: 1;
			width: 100%;
			border: none;
			margin: 0;
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
					-webkit-appearance: none;
			}
		}

		& > input.empty, &.empty {
			background-color: var(--error-background);
			border-color: var(--error-border-color);
		}
		& > input.empty-value {
			background-color: transparent;
		}
	}

	& > aside {
		color: var(--error-message-color);
		font-size: var(--font-caption);
		word-wrap: break-word;
		display: flex;
		align-items: center;
		i {
			margin-right: var(--gap-2);
		}
	}
}
