### Prettier configuration file in YAML
# https://prettier.io/docs/en/configuration.html#configuration-schema
bracketSpacing: true
printWidth: 120
plugins:
 - prettier-plugin-java
singleQuote: true
trailingComma: "none"
