@import '@node_modules/@ibm/plex/css/ibm-plex.css';
@import '@node_modules/@uncharted.software/design-tokens/build/css/uncharted-tokens.css';
@import '@assets/css/reset.css';

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

:root {
	background-color: var(--un-color-body-surface-background);
	color: var(--un-color-body-text-primary);
	color-scheme: light dark;
	font: var(--un-font-body);
}

body {
	background-color: inherit;
	color: inherit;
	font: inherit;
}

@media (prefers-color-scheme: dark) {
	:root {
		/*  background-color: var(--un-color-black-70);
		color: var(--un-color-black-5); */
	}
}
