//TODO: Use _variables for facet colouring.

facet-terms {
  // Hide the rectangle that appears to the left of an item on hover
  --facet-terms-tick-color: transparent;

  // Faint background that includes the label and the bar
  --facet-terms-selected-background: #{$accent-lightest};

  // Bar 0 is the darker, "front", bar. Bar 1 is the lighter "behind" bar.

  // No item in the group is selected
  // No item in the group is being hovered
  --facet-terms-bar-0-normal: #1B8073; // $facetEmptyBg; 
  // Another item in the group is being hovered
  --facet-terms-bar-0-normal-contrast: #1B8073; 
  // This item is being hovered
  --facet-terms-bar-0-normal-contrast-hover: #1B8073; 

  // This item is selected
  // No item in the group is being hovered
  --facet-terms-bar-0-selected: #1B8073; 
  // Another item in the group is being hovered
  --facet-terms-bar-0-selected-contrast: #1B8073; 
  // This item is being hovered
  --facet-terms-bar-0-selected-contrast-hover: #1B8073;

  // Another item in the group is selected
  // This item is hovered
  --facet-terms-bar-0-muted-contrast-hover: #1B8073;
  --facet-terms-bar-1-muted-contrast-hover: #1B8073; 
  // Another item in the group is hovered
  // FIXME: there is a bug in the facets library where
  //  "--facet-terms-bar-0-muted-contrast-hover" is applied when
  //  "--facet-terms-bar-0-muted-contrast" should be. This means that we can't
  //  differentiate between "another bar in this group is hovered" and "this bar
  //  is being hovered". This only applies to bar-0(front bar) when another bar
  //  in the group is selected.
}

facet-bars {
  // Hide the rectangle that appears to the left of an item on hover
  --facet-bars-tick-color: transparent;
  --facet-bars-0-selected: #{$accent-main};
  --facet-bars-0-selected-contrast: #{$accent-medium};
  --facet-bars-0-selected-contrast-hover: #{$accent-main};
  --facet-bars-1-unselected-contrast-hover: #{$accent-lightest};
  --facet-bars-0-unselected-contrast-hover: #{$accent-main};
  :deep(.facet-bars-selection-computed) {
    border-color: $accent-main;
    background-color: rgba($color: $accent-main, $alpha: 0.05);
  }
  :deep(.facet-bars-selection-handle-left) {
    border-right-color: $accent-main;
  }
  :deep(.facet-bars-selection-handle-right) {
    border-left-color: $accent-main;
  }
  :deep(.facet-bars-selection-clear-button) {
    background-color: $accent-main;
  }
  :deep(.facet-bars-value-background) {
    background-color: $accent-lightest;
  }
}
