/*
  This file contains SCSS variables that are useful for a variety
  of different components across the app.

  Add `@import '@/styles/variables'` to the top of your component's
  scoped SCSS section to be able to use these variables.

  Before adding a new variable here, consider:
  1. is an existing one is close enough to be meaningfully or
    semantically the same?
  2. would we want multiple components to reference this shared
    definition? It may be worth defining the variable in multiple
    scoped components if we'd want to change them independently
    later.
*/

// Accent colors
$accent-lightest: hsl(265, 100%, 99%);
$accent-light: hsl(262, 85%, 78%);
$accent-main: hsl(260, 77%, 63%);
$accent-medium: hsl(250, 39%, 43%);
$accent-dark: hsl(245, 40%, 24%);
$accent-darkest: hsl(240, 32%, 15%);

// Selection color
$selected: $accent-main;
$selected-dark: $accent-medium;

// Main navbar height (includes margin and border height)
$navbar-outer-height: 51px;

// 100% height - navbar
$content-full-height: calc(100vh - #{$navbar-outer-height});

$text-color-dark: #16161C;

$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.6rem;
$font-size-extra-large: 1.8rem;

@mixin header-secondary() {
  font-size: $font-size-medium;
  text-transform: uppercase;
  letter-spacing: .066rem;
  color: #707070;
  font-weight: 600;
}

// Background Colors
$background-light-1: #FFFFFF;
$background-light-2: #F2F2F2;
$background-light-3: #E6E6E6;

$background-light-1-faded: #FAFAFA;

// Transitions
$layout-transition: .3s ease;

@import "facets-overrides";
