/* Styling for asset components Document.vue, Model.vue, Dataset.vue */
.asset {

    // This button style should probably be moved to the general theme in some form
    .p-button.p-button-outlined {
        color: var(--text-color-primary);
        box-shadow: var(--text-color-disabled) inset 0 0 0 1px;
    }

    p,
    article,
    ul {
        max-width: var(--constrain-width);
    }

    div,
    span {
        overflow-wrap: break-word;
    }

    .p-accordion {
        padding: 0.5rem;

        .artifact-amount {
            font-size: var(--font-caption);
            color: var(--text-color-subdued);
            margin-left: 0.25rem;
        }

        // Gives some top padding when you auto-scroll to the anchor
        span {
            scroll-margin-top: 1rem;
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 0.5rem;
            }

            .github-link {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }

        p {
            margin: 0.5rem 0;
        }

        strong {
            font-weight: var(--font-weight-semibold);
        }
    }


}