$customIconPath: '../svg/icons/';

// .ci-dataset {
//     background: url("#{$customIconPath}dataset.svg");
//     background-repeat: no-repeat;
//     background-size: contain;
//     height: 16px;
//     width: 16px;
//     color: red;
//     fill: red;
// }

.ci-dataset::before {
    content: url("#{$customIconPath}dataset.svg");
    height: 0;
    color: red;
    fill: red;
}

.ci-overview::before {
    content: url("#{$customIconPath}overview.svg");
    height: 0;
}

.ci-results::before {
    content: url("#{$customIconPath}results.svg");
    height: 0;
}

.ci-workflow::before {
    content: url("#{$customIconPath}workflow.svg");
    height: 0;
}

.ci-compare-models::before {
    content: url("#{$customIconPath}compare-models.svg");
    height: 0;
}