/* -- fix for iOS --*/
html,
body {
	overflow-x: hidden;
	overscroll-behavior-x: none; /* Stop browser back navigation on overscroll */
	position: relative;
}

/* -- Normalize -- */
body {
	margin: 0;
	padding: 0;
}

/* The :not(.pi) selector is used to avoid resetting the styles of the PrimeIcons */
a, div, em, figure, footer, form, h1, h2, h3, h4, h5, h6, header, img, li, ol, p, strong, ul, span:not(.pi, .katex *) {
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* Prevent font inheritance for KaTeX elements */
.katex * {
	font-family: 'KaTeX_Main', 'Times New Roman', serif;
	font-size: 1.1rem;
}

img {
	display: block;
	max-width: 100%;
}

/* -- Small Reset -- */
html {
	box-sizing: border-box;
}
html *, html *::before, html *::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html, body {
	height: 100%;
	min-height: 100%;
	width: 100%;
}

a:hover, a:focus {
	cursor: pointer;
}

table {
	border-color: transparent;
}

thead {
	border: none;
}

strong {
	font-weight: var(--font-weight-semibold);
}
