@import '@node_modules/@ibm/plex/css/ibm-plex.css';
@import '@node_modules/@uncharted.software/design-tokens/build/css/uncharted-tokens.css';
@import '@assets/css/reset.css';

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Overwriting Uncharted design-tokens for TERArium */
	--un-color-accent-darker: #133013ff;
	--un-color-accent-dark: #1C5A1Cff;
	--un-color-accent: #2D8E2Dff;
	--un-color-accent-light: #92E192ff;
	--un-color-accent-lighter: #E4FAE4ff;
	--un-color-accent-mono: #39B539;

	--label-color: #707070;
	--text-color-light: #C2C2C4;
	--text-color-medium: #9C9D9E;
	--text-color-dark: #16161C;

	--label-color: #707070;
	--text-color-light: #C2C2C4;
	--text-color-medium: #9C9D9E;
	--text-color-dark: #16161C;
	--font-size-small: 1.2rem;
	--font-size-medium: 1.4rem;
	--font-size-large: 1.6rem;
	--navbar-outer-height: 51px;
	--separator: #e5e5e5;
	--background-light-1: #FFFFFF;
	--background-light-2: #F2F2F2;
	--background-light-3: #E6E6E6;
	--background-light-1-faded: #FAFAFA;

	/* Layout */
	--header-height: 3.5rem;
}

:root {
	background-color: var(--un-color-body-surface-background);
	color: var(--un-color-body-text-primary);
	color-scheme: light;
	font: var(--un-font-body);
}

body {
	background-color: inherit;
	color: inherit;
	display: flex;
	flex-direction: column;
	font: inherit;
	isolation: isolate;
}

h1 {
	font: var(--un-font-h1)
}
h2 {
	font: var(--un-font-h2)
}
h3 {
	font: var(--un-font-h3)
}
h4 {
	font: var(--un-font-h4)
}


/**
* @section Forms
* Styling for form elements.
*/
form,
fieldset {
	margin-bottom: 1rem;
}
 
fieldset {
	border: 0;
	padding: 0;
}

legend,
label {
	display: block;
	margin: 0 0 0.3125em;
	padding: 0;
}

/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
	color: var(--un-color-body-text-primary);
	/* 1 */
	font: inherit;
	/* 2 */
	margin: 0;
	/* 3 */
	padding: 0.3125em;
}

input,
textarea,
select {
	border: 1px solid var(--un-color-black-40);
	display: block;
	line-height: 1.5;
	margin-bottom: 1.1875em;
	width: 100%;
}
@media (min-width: 40em) {
	input,
	textarea,
	select {
		line-height: 1.5625;
	}
}

textarea {
	height: 10em;
	overflow: auto;
	resize: vertical;
}

[type=image],
[type=checkbox],
[type=radio] {
	cursor: pointer;
	display: inline-block;
	height: auto;
	margin-bottom: 0.3125em;
	padding: 0;
	width: auto;
}

input:focus,
textarea:focus {
	border-color: var(--un-color-accent);
}
