@import '@assets/css/reset.css'; /* Reset */

/* 
 * Uncharted Design Tokens
 * TODO: needs to be depracated 
 */
@import '@node_modules/@uncharted.software/design-tokens/build/css/uncharted-tokens.css';

/** 
 * PrimeVue
 * https://primefaces.org/primevue/setup
 */
@import '@node_modules/primeflex/primeflex.min.css';
@import '@node_modules/primevue/resources/primevue.min.css';
@import '@node_modules/primeicons/primeicons.css';

/* 
 * TERArium PrimeVue Theme 
 * https://www.primefaces.org/designer/primevue
 */
@import '@assets/css/theme/theme.scss';


:root {
    --label-color: #707070;
    --text-color-light: #C2C2C4;
    --text-color-medium: #9C9D9E;
    --text-color-dark: #16161C;

    --label-color: #707070;
    --text-color-light: #C2C2C4;
    --text-color-medium: #9C9D9E;
    --text-color-dark: #16161C;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.4rem;
    --font-size-large: 1.6rem;
    --navbar-outer-height: 51px;
    --separator: #e5e5e5;
    --background-light-1: #FFFFFF;
    --background-light-2: #F2F2F2;
    --background-light-3: #E6E6E6;
    --background-light-1-faded: #FAFAFA;

    /* Layout */
    --header-height: 3.5rem;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	background-color: var(--surface-ground);
	color: var(--text-color-primary);
	color-scheme: light;
	font-family: 'Figtree';
    font-style: normal;
}

/* Global */
body {
    background-color: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    font: inherit;
    isolation: isolate;
}

/* Text styles */
h1,
.text-h1 {
    font-weight: 400;
    font-size: 88px;
    line-height: 96px;
}

h2,
.text-h2 {
    font-weight: 400;
    font-size: 57px;
    line-height: 60px;
}

h3,
.text-h3 {
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
}

h4,
.text-h4 {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}

h5,
.text-h5 {
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
}

h6,
.text-h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h7,
.text-h7 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.text-subtitle-1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

.text-subtitle-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.text-body-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text-body-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.text-body-2-medium {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.text-button {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.text-caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

/* Colors */

.color-text-primary {
    color: rgb(16, 24, 40);
}

.color-text-subdued {
    color: rgb(102, 112, 133)
}

.color-text-disabled {
    color: rgb(208, 213, 221)
}

.color-link {
    color: rgb(27, 128, 115);
    text-decoration: none;
}

.color-background {
    background: #F2F4F7;
}

.color-background-white {
    background: #FFFFFF;
}

.color-background-secondary {
    background: #F9FAFB;
}

.color-background-primary {
    background: #1B8073;
}

.color-background-highlight {
    background: rgb(233, 255, 252);
}

.color-background-hover {
    background: #F4FFFE;
}

.color-stroke {
    border-color: rgb(208, 213, 221);
}

.color-paper-success {
    background: #EBF4F3;
}
