---
services:
  beaker:
    container_name: beaker
    image: ghcr.io/darpa-askem/askem-beaker:latest
    networks:
      - terarium
    ports:
      - "3050:8888"
    environment:
      HMI_SERVER_URL: "http://${local_host_name}:3000"
      JUPYTER_SERVER: "http://${local_host_name}:3050"
      MIRA_REST_URL: "http://mira-epi-dkg-lb-dc1e19b273dedaa2.elb.us-east-1.amazonaws.com/"
      SIMULATION_SCHEDULER_URL: "http://${local_host_name}:3030"
      JUPYTER_TOKEN: "${secret_tgpt_token}"
      AUTH_USERNAME: "${secret_service_account_username}"
      AUTH_PASSWORD: "${secret_service_account_password}"
      OPENAI_API_KEY: "${secret_openai_key}"
    extra_hosts:
      - "${local_host_name}:host-gateway"
