---
services:
  hmi-server:
    image: ghcr.io/darpa-askem/hmi-server:latest
    container_name: hmi-server
    networks:
      - terarium
    ports:
      - "3000:3000"
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--head",
          "0.0.0.0:3000/actuator/health"
        ]
      interval: "3s"
      timeout: "3s"
      retries: 30
    environment:
      ADOBE_API-KEY: "${secret_adobe_api_key}"
      GOOGLE-ANALYTICS-ID: ""
      AWS_URL: "http://minio:9000"
      AWS_ACCESS_KEY_ID: "admin"
      AWS_SECRET_ACCESS_KEY: "admin123"
      KNOWLEDGE-MIDDLEWARE_URL: "http://${local_host_name}:3060"
      SPICEDB_LAUNCHMODE: "PLAINTEXT"
      SPICEDB_SHARED-KEY: "dev"
      SPICEDB_TARGET: "${local_host_name}:50051"
      SPRING_DATA_REDIS_URL: "redis://${local_host_name}:6379"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://${local_host_name}:5430/terarium"
      SPRING_PROFILES_ACTIVE: "default"
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER-URI: "${secret_terarium_keycloak_url}/realms/${secret_terarium_keycloak_realm}"
      SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT-ID: "${secret_terarium_keycloak_client_id}"
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: "${secret_terarium_keycloak_url}/realms/${secret_terarium_keycloak_realm}"
      TERARIUM_DB_PASSWORD: "postgres"
      TERARIUM_DB_USERNAME: "postgres"
      TERARIUM_KEYCLOAK_ADMIN-CLIENT-ID: "${secret_terarium_keycloak_admin_client_id}"
      TERARIUM_KEYCLOAK_ADMIN-PASSWORD: "${secret_terarium_keycloak_admin_password}"
      TERARIUM_KEYCLOAK_ADMIN-REALM: "${secret_terarium_keycloak_admin_realm}"
      TERARIUM_KEYCLOAK_ADMIN-USERNAME: "${secret_terarium_keycloak_admin_username}"
      TERARIUM_KEYCLOAK_CLIENT-ID: "${secret_terarium_keycloak_client_id}"
      TERARIUM_KEYCLOAK_REALM: "${secret_terarium_keycloak_realm}"
      TERARIUM_KEYCLOAK_URL: "${secret_terarium_keycloak_url}"
      TERARIUM_KEYCLOAK_API-SERVICE-NAME: "${secret_terarium_keycloak_api_service_name}"
      TERARIUM_KEYCLOAK_ADMIN-API-SERVICE-NAME: "${secret_terarium_keycloak_admin_api_service_name}"
      TERARIUM_MQ-ADDRESSES: "amqp://${local_host_name}:5672"
      TERARIUM_MQ-PASSWORD: "terarium123"
      TERARIUM_MQ-USERNAME: "terarium"
      TERARIUM_ELASTICSEARCH_URL: "http://${local_host_name}:9200"
      TERARIUM_ELASTICSEARCH_AUTH-ENABLED: false
      TGPT_APP_URL: "http://${local_host_name}:3050/beaker/"
      TGPT_TOKEN: "${secret_tgpt_token}"
      TGPT_WS_URL: "ws://${local_host_name}:3050/beaker_ws/"
    depends_on:
      postgres:
        condition: service_healthy
      spicedb:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      minio:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    extra_hosts:
      - "${local_host_name}:host-gateway"

  hmi-client:
    image: ghcr.io/darpa-askem/hmi-client:latest
    container_name: hmi-client
    networks:
      - terarium
    ports:
      - "8080:80"
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "--head", "0.0.0.0:80/healthcheck" ]
      interval: "3s"
      timeout: "3s"
      retries: 30
    depends_on:
      hmi-server:
        condition: service_healthy
    extra_hosts:
      - "${local_host_name}:host-gateway"

  terarium-docs:
    image: ghcr.io/darpa-askem/terarium-docs:latest
    container_name: terarium-docs
    networks:
      - terarium
    ports:
      - "8082:80"
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "--head", "0.0.0.0:80/healthcheck" ]
      interval: "3s"
      timeout: "3s"
      retries: 30
    extra_hosts:
      - "${local_host_name}:host-gateway"
