.p-card {
    background: $panelContentBg;
    color: $panelContentTextColor;
    box-shadow: $cardShadow;
    border-radius: $bigBorderRadius;
    transition: box-shadow 0.1s ease, border 0.1s ease;
    border: solid 1px var(--gray-50);
    cursor: pointer;


    .p-card-body {
        padding: $cardBodyPadding;
    }

    .p-card-title {
        font-size: $cardTitleFontSize;
        font-weight: $cardTitleFontWeight;
        margin-bottom: $inlineSpacing;
    }

    .p-card-subtitle {
        font-weight: $cardSubTitleFontWeight;
        margin-bottom: $inlineSpacing;
        color: $cardSubTitleColor;
    }

    .p-card-content {
        padding: $cardContentPadding;
    }

    .p-card-footer {
        padding: $cardFooterPadding;
    }
}


.p-card:hover {
    box-shadow: $cardShadowHover;
    border: solid 1px var(--surface-border);
}
