.p-divider {
    .p-divider-content {
        background-color: $panelContentBg;
    }

    &.p-divider-horizontal {
        margin: $dividerHorizontalMargin;
				color: var(--gray-300);

        .p-divider-content {
            padding: 0 $inlineSpacing;
        }
    }

    &.p-divider-vertical {
        margin: $dividerVerticalMargin;
        padding: $dividerVerticalPadding;

        .p-divider-content {
            padding: $inlineSpacing 0;
        }
    }
}
