.p-splitter {
    border: $panelContentBorder;
    background: $panelContentBg;
    border-radius: $borderRadius;
    color: $panelContentTextColor;

    .p-splitter-gutter {
        transition: $actionIconTransition;
        background: $splitterGutterBg;
        width:6px;

        .p-splitter-gutter-handle {
            background: transparent;
        }
    }

    .p-splitter-gutter-resizing {
        background: $splitterGutterHandleBg;
    }

    .p-splitter-gutter:hover {
        background-color: var(--primary-color-light);
    }
}