@import "ibm-plex/css/ibm-plex.css";
@import "uncharted-tokens.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
	background-color: var(--un-color-body-surface-background);
	color: var(--un-color-body-text-primary);
	color-scheme: light dark;
	font: var(--un-font-body);
}

body {
	background-color: inherit;
	color: inherit;
	font: inherit;
}

button {
  background-color: var(--un-color-accent);
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--un-color-black-70);
		color: var(--un-color-black-5);
  }
}
