:root {
  --un-color-accent-darker: #133013ff;
  --un-color-accent-dark: #1C5A1Cff;
  --un-color-accent: #2D8E2Dff;
  --un-color-accent-light: #92E192ff;
  --un-color-accent-lighter: #E4FAE4ff;
	--un-color-black-100: #020203ff;
  --un-color-black-90: #252526ff;
  --un-color-black-80: #363738ff;
  --un-color-black-70: #48494aff;
  --un-color-black-60: #5a5b5cff;
  --un-color-black-50: #747576ff;
  --un-color-black-40: #9c9d9eff;
  --un-color-black-30: #b3b4b5ff;
  --un-color-black-20: #cacbccff;
  --un-color-black-10: #e3e4e6ff;
  --un-color-black-5: #f0f1f2ff;
  --un-color-white: #ffffffff;
  --un-color-body-surface-secondary: #f0f1f2ff;
  --un-color-body-surface-primary: #ffffffff;
  --un-color-body-surface-background: #e3e4e6ff;
  --un-color-body-stroke: #cacbccff;
  --un-color-body-text-disabled: #747576ff;
  --un-color-body-text-secondary: #48494aff;
  --un-color-body-text-primary: #020203ff;
  --un-color-feedback-success-darker: #132e1eff;
  --un-color-feedback-success-dark: #1c5733ff;
  --un-color-feedback-success: #038537ff;
  --un-color-feedback-success-light: #8adfacff;
  --un-color-feedback-success-lighter: #e1faebff;
  --un-color-feedback-info-darker: #1d2830ff;
  --un-color-feedback-info-dark: #2b495fff;
  --un-color-feedback-info: #3f5768ff;
  --un-color-feedback-info-light: #a2ccebff;
  --un-color-feedback-info-lighter: #edf4f7ff;
  --un-color-feedback-warning-darker: #36230dff;
  --un-color-feedback-warning-dark: #693d07ff;
  --un-color-feedback-warning: #ad5f00ff;
  --un-color-feedback-warning-light: #f5bd79ff;
  --un-color-feedback-warning-lighter: #fcf1e3ff;
  --un-color-feedback-danger-darker: #3f1515ff;
  --un-color-feedback-danger-dark: #840d0dff;
  --un-color-feedback-danger: #de1b1bff;
  --un-color-feedback-danger-light: #f9aeaeff;
  --un-color-feedback-danger-lighter: #faf0f0ff;
  --un-color-brand-logo-red: #e02429ff;
  --un-color-navigation-text-primary: #ffffffff;
  --un-color-navigation-text-secondary: #cacbccff;
  --un-color-navigation-text-disabled: #9c9d9eff;
  --un-color-navigation-stroke: #020203ff;
  --un-color-navigation-surface-background: #252526ff;
  --un-color-navigation-surface-secondary: #363738ff;
  --un-color-navigation-surface-primary: #48494aff;
  --un-font-h1: 400 2.625rem/3.375rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-h2: 400 2rem/2.625rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-h3: 400 1.75rem/2rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-h4: 400 1.25rem/1.75rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-h5: 400 1rem/1.5rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-h6: 400 0.75rem/1.125rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-xlarge: 400 1.125rem/1.75rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-large: 400 1rem/1.5rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-body: 400 0.875rem/1.25rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-small: 400 0.75rem/1rem IBM Plex Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --un-font-mono-large: 400 1rem/1.5rem IBM Plex Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --un-font-mono: 400 0.875rem/1.25rem IBM Plex Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --un-font-mono-small: 400 0.75rem/1rem IBM Plex Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --un-box-shadow-small: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  --un-box-shadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  --un-box-shadow-large: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
  --un-box-shadow-xlarge: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
