.p-selectbutton {
    padding: 2px;
    display: flex;
    gap: 2px;
    width: fit-content;
    border-radius: 6px;
    border: 1px solid var(--surface-border);
    background-color: $unselectedItem;
    height: 40px;

    .p-button {
        padding: 12px;
        border-radius: 4px; 
        background-color: $unselectedItem;
        border: none;
        &:focus {
            background: $toggleButtonActiveBg; 
    
            &.p-highlight {
                background: $toggleButtonBg;
            }
        }
        &.p-highlight {
            background: $toggleButtonBg;
        }
    }
}

.p-selectbutton.p-button-sm {
    height: 24px;
    border-radius: 4px;

    .p-button {
        padding: 8px;
        border-radius: 2px;
    }
}