---
# This workflow will lint all YAML and Docker files
name: Global File Linting
# yamllint disable-line rule:truthy
on:
  workflow_call:
  push:
    paths:
      - '**/Dockerfile*'
    branches:
      - main
  pull_request:
    paths:
      - '**/Dockerfile*'
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lintDocker:
    name: Lint Docker Files
    uses: darpa-askem/.github/.github/workflows/lint-docker.yaml@main
    with:
      failure-threshold: 'error'
