---
# This workflow will do a clean installation of node dependencies, and perform the following tests
# - lint
# - format
# - typecheck
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Lint & Format Client
# yamllint disable-line rule:truthy
on:
  workflow_call:

jobs:
  lintClient:
    name: Lint & Format Client
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Use Node.js 20.10.0 LTS
        uses: actions/setup-node@v4
        with:
          node-version: 20.10.0
          cache: 'yarn'

      - name: Install packages
        env:
          YARN_ENABLE_HARDENED_MODE: 0
        run: yarn install --immutable

      - name: Run Linter
        run: yarn lint

      - name: Run Formatter
        run: yarn prettier

      - name: Run Typechecks
        run: yarn typecheck

      - name: Commit all changed files
        run: |
          git diff --exit-code || {
            echo "Files have changed. Committing changes..."
            git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --global user.name "github-actions[bot]"
            git fetch --depth=1;
            git checkout  ${{ github.head_ref }} --
            git add .
            git commit --message "chore: lint and format client codebase"
            git push --set-upstream origin ${{ github.head_ref }}
          }
